.ingredients {
    width: 600px;
}

.ingredients__list {
    width: 600px;
    overflow: auto;
    height: 686px;

}

.ingredients__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(272px, 1fr));
    grid-template-rows: repeat(auto-fill, 208px);
}

.ingredients__heading {
    margin-bottom: 20px;
}