.password_page {
    width: 480px;
    height: 430px;
    display: flex;
    margin: 180px auto 0;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.password__input {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 182px;
    justify-content: space-between;
}

.paragraph {
    color: #8585AD
}

.link {
    color: #4C4CFF;
    text-decoration: none;
}